<div class="crypt-bio">
  <div class="bio-section">
    <p class="section-label">
      {{l "Bio.appearance"}}
    </p>
    <div class="crypt-form-field">
      <label for="bio-build-{{document.id}}">{{l "Bio.build"}}</label>
      <input id="bio-build-{{document.id}}"
             type="text"
             name="system.biography.build"
             placeholder="{{l "Bio.build"}}"
             value="{{system.biography.build}}"/>
    </div>
    <div class="crypt-form-field">
      <label for="bio-eyes-{{document.id}}">{{l "Bio.eyes"}}</label>
      <input id="bio-eyes-{{document.id}}"
             type="text"
             name="system.biography.eyes"
             placeholder="{{l "Bio.eyes"}}"
             value="{{system.biography.eyes}}"/>
    </div>
    <div class="crypt-form-field">
      <label for="bio-hair-{{document.id}}">{{l "Bio.hair"}}</label>
      <input id="bio-hair-{{document.id}}"
             type="text"
             name="system.biography.hair"
             placeholder="{{l "Bio.hair"}}"
             value="{{system.biography.hair}}"/>
    </div>
    <div class="crypt-form-field">
      <label for="bio-skin-{{document.id}}">{{l "Bio.skin"}}</label>
      <input id="bio-skin-{{document.id}}"
             type="text"
             name="system.biography.skin"
             placeholder="{{l "Bio.skin"}}"
             value="{{system.biography.skin}}"/>
    </div>
  </div>
  <div class="bio-section">
    <p class="section-label">
      {{l "Bio.personality"}}
    </p>
    <div class="crypt-form-field">
      <label for="bio-desires-{{document.id}}">{{l "Bio.desires"}}</label>
      <input id="bio-desires-{{document.id}}"
             type="text"
             name="system.biography.desires"
             placeholder="{{l "Bio.desires"}}"
             value="{{system.biography.desires}}"/>
    </div>
    <div class="crypt-form-field">
      <label for="bio-fears-{{document.id}}">{{l "Bio.fears"}}</label>
      <input id="bio-fears-{{document.id}}"
             type="text"
             name="system.biography.fears"
             placeholder="{{l "Bio.fears"}}"
             value="{{system.biography.fears}}"/>
    </div>
    <div class="crypt-form-field">
      <label for="bio-tendsTo-{{document.id}}">{{l "Bio.tendsTo"}}</label>
      <input id="bio-tendsTo-{{document.id}}"
             type="text"
             name="system.biography.tendsTo"
             placeholder="{{l "Bio.tendsTo"}}"
             value="{{system.biography.tendsTo}}"/>
    </div>
    <div class="crypt-form-field">
      <label for="bio-usedTo-{{document.id}}">{{l "Bio.usedTo"}}</label>
      <input id="bio-usedTo-{{document.id}}"
             type="text"
             name="system.biography.usedTo"
             placeholder="{{l "Bio.usedTo"}}"
             value="{{system.biography.usedTo}}"/>
    </div>
  </div>
  <div class="bio-section background">
    <p class="section-label">
      {{l "Bio.background"}}
    </p>
    {{editor system.biography.background target="system.biography.background" button=true editable=editable }}
  </div>
</div>
