{{!
  @Input id: string;
  @Input label: string;
  @Input name: string;
  @Input value: string;
}}
<div class="crypt-form-field fr-field">
  <label for="{{id}}">{{label}}</label>
  <input id="{{id}}" name="{{name}}" value="{{value}}" placeholder="{{label}}" />
</div>
